<!-- about -->
<div class="section" id="about">

	<div class="container">
		    <div class="col-md-12"><h2>About<span id="blink">_</span></h2></div>
		        <div class="clearfix">

		<div class="col-md-7" >

						<div class="h-20"></div>

			<p>I'm a <strong>Designer</strong> also a <strong>Technologist</strong> with expertise in Interaction design, UI design, Web Animation, and Code-Based Prototyping. Currently, I'm a Senior Product Designer at <strong>Amplify Education</strong> making enjoyable learning experiences for kids to improve their early literacy skills. </p>
			<p>Prior to Amplify, I deepened many design skills doing: UI/UX design for mobile web-apps, web development for responsive sites in HTML and CSS, visual design for both digital and print, and motion graphics for concert state screen. Because of my versatile skill set, people sometimes call the 🦄 Designer.</p>

			<p>When I'm not designing, I'm getting my hands dirty with creative coding in JavaScript, comprehending Google Analytics statistics for this website, or watching old animes. </p>
			<div class="h-50"></div>

			<div class="resume-event" data-aos-delay=".2">
				<a href="https://docs.google.com/document/d/1fBkUdBt-WOpNDFZVfXtWPGPSVBselhB3FnFAPVYNHGo" target="_blank">
					<p class="resume-event-thumbnail "><i class="ion-paperclip"></i> Resume</p></a>
			</div>

			<div class="h-50"></div>

		</div>
		<div class="col-md-5 about-img-div" data-aos-delay=".3">
			<div class="about-border" data-aos-delay=".5"></div>
			<img src="img/Lauren_Wang.jpg" width="300" class="img-responsive" alt="" align="right" data-aos-delay="0" />
		</div>
</div>
	</div>
</div>
<!-- ./about -->
