<!-- about -->
<div class="section" id="about">

	<div class="container">
		    <div class="col-md-12"><h2>About<span id="blink">_</span></h2></div>
		        <div class="clearfix">

		<div class="col-md-7" >

						<div class="h-20"></div>

			<p>I'm a <strong>Designer</strong> and a <strong>Technologist</strong> with expertise in Interaction design, UI design, Web Animation, and Code-Based Prototyping. Currently I'm a Senior Product Designer at Amplify Education making enjoyable learning experiences for kids aimed at improving their early literacy skills. </p>

			<p><strong>For business projects</strong>, I always seek to improve upon the process of making purposeful and implementable design, as well as deliver an accessible and aesthetic front-end experience.</p>

			<p><strong>For experimental projects</strong>, I creatively push the boundries of technical limitations and make people ask "How did you do that?!" </p>

			<div class="h-50"></div>

			<div class="resume-event" data-aos-delay=".2">
				<a href="https://docs.google.com/document/d/1fBkUdBt-WOpNDFZVfXtWPGPSVBselhB3FnFAPVYNHGo" target="_blank" onclick="ga('send', 'event', 'button', 'click', 'resume')">
					<p class="resume-event-thumbnail "><i class="ion-paperclip"></i> Resume</p></a>
			</div>

			<div class="h-50"></div>

		</div>
		<div class="col-md-5 about-img-div" data-aos-delay=".3">
			<div class="about-border" data-aos-delay=".5"></div>
			<img src="img/Lauren_Wang.jpg" width="300" class="img-responsive" alt="" align="right" data-aos-delay="0" />
		</div>
</div>
	</div>
</div>
<!-- ./about -->
