<!-- about -->
<div class="section" id="about">

	<div class="container">
		    <div class="col-md-12"><h2>About<span class="blink">_</h2></div>
		        <div class="clearfix">

		<div class="col-md-7" >

						<div class="h-20"></div>
<!-- I design enjoyable digital products while satisfying the business needs concerning <strong>interaction</strong>, <strong>UI</strong>, <strong>motion</strong>, and everything in-between.  -->
			<!-- <p>I enjoy creating interactive experiences to bring people joy while satisfying business needs using my multi-disciplinary skills in design, art, animation, and code. Currently I'm a Senior Product Designer at Amplify Education making learning more engaging for millions of kids. </p> -->

			<h3><strong>🧠 My product designer brain </strong>makes me seek to improve upon the process of making purposeful and scalable design, as well as deliver an accessible and aesthetic front-end experience.</h3>
			<h3><strong>🧡 My creative technologist heart </strong>drives me to craft innovative and playful interactive experiences that break the wall between design and code.</h3>

			<div class="h-20"></div>
		


        <!-- <div class="CTA-event" data-aos-delay=".2">
          <a href="https://drive.google.com/file/d/1tG_acvJDjIAfWeEWmynx_cqpSn7C6jhb/view" target="_blank" onclick="ga('send', 'event', 'button', 'click', 'resume')">
					<p class="CTA-event-thumbnail"><i class="ion-paperclip"></i>Resume</p></a>
        </div>
        			<div class="h-20"></div>
 -->

			<a class="resume" href="https://drive.google.com/file/d/1oadtjxri2DUUpuFncEC3s3FsIqCiTj9y/view" target="_blank" onclick="ga('send', 'event', 'button', 'click', 'PD_resume')">
					<i class="ion-paperclip"></i>Product Design Resume</a>

		<br>
			<a class="resume" href="https://drive.google.com/file/d/1tG_acvJDjIAfWeEWmynx_cqpSn7C6jhb/view" target="_blank" onclick="ga('send', 'event', 'button', 'click', 'CT_resume')">
					<i class="ion-paperclip"></i>Creative Technologist Resume</a>

			<div class="h-20"></div>

		</div>
		<div class="col-md-5 about-img-div" data-aos-delay=".3">
			<div class="about-border" data-aos-delay=".5"></div>
			<img src="img/Lauren_Wang.jpg" width="300" class="img-responsive" alt="" align="right" data-aos-delay="0" />
		</div>


</div>
	</div>
</div>
<!-- ./about -->
