<header class="navbar-fixed-top" data-aos="fade-in">
      <nav>            
            <ul class="menu container">
                <li class="v-center"><a class="v-center" href="/" onclick="ga('send', 'header', 'button', 'click', 'logo')"><span id="logoicon"></span><span class="logotext">Lauren Wang</span></a></li>
                <li tabindex="-1" class="space"></li>
                <li><a href="#projects_product" onclick="ga('send', 'event', 'header', 'click', 'work')">Work</a></li>
                <li><a href="#projects_creative" onclick="ga('send', 'event', 'header', 'click', 'fun')">Fun</a></li>
                <li><a href="#about" onclick="ga('send', 'event', 'header', 'click', 'about')">About</a></li>
        </ul>
    </nav>
</header>