
<div class="section" id="moreproject">
  <div class="container">
    <div class="col-md-12">
      <div class="h-50"></div>

      <h2>More Work<span id="blink">_</span></h2> 
    </div>
    <!-- <div class="h-20"></div> -->

    <!-- main container -->
    <div class="main-container portfolio-inner clearfix" data-aos="fade-up">
      <!-- portfolio div -->
      <div class="portfolio-div">
        <div class="portfolio">
          {%- include portfolio.html -%}
        </div>
        <!-- portfolio -->
      </div>
      <!-- end portfolio div -->
    </div>
    <!-- end main container -->
  </div>
</div>