
<div class="section" id="moreproject">
  <div class="container">
    <div class="col-md-12">
      <div class="h-50"></div>

{%- if page.category -%}
      <h2>More Fun<span class="blink">_</span></h2> 
{%- else -%}
      <h2>More Work<span class="blink">_</span></h2> 

{%- endif -%}

    </div>
       
    <div class="main-container portfolio-inner clearfix">

                                 <div class="h-50"></div>
        <div class="portfolio-div">
           <div class="portfolio">


{%- if page.category -%}
                  {%- include portfolio_creative.html -%}
{%- else -%}
                  {%- include portfolio_product.html -%}
{%- endif -%}



          </div>
         <!-- portfolio -->
        </div>
      <!-- end portfolio div -->
    </div>
    <!-- end main container -->
  </div>
</div>