					<!-- portfolio_filter -->
					<div class="categories-grid wow fadeInLeft">
						<nav class="categories">
							<ul class="portfolio_filter">
                                <li><a href="" class="active" data-filter="*" onclick="ga('send', 'event', 'filter', 'click', 'all')">All</a></li>
								<li><a href="" data-filter=".love" onclick="ga('send', 'event', 'filter', 'click', 'love')">Most proud ❤︎</a></li>
 								<li><a href="" data-filter=".interaction" onclick="ga('send', 'event', 'filter', 'click', 'interaction')">Interaction/UI</a></li>
                                <li><a href="" data-filter=".animation" onclick="ga('send', 'event', 'filter', 'click', 'animation')">Animation</a></li>
                                <li><a href="" data-filter=".fe" onclick="ga('send', 'event', 'filter', 'click', 'fe')">front-end</a></li>
                                <li><a href="" data-filter=".physical" onclick="ga('send', 'event', 'filter', 'click', 'physical')">Physical</a></li>

<!-- 

                                <li><a href="" class="size-16 active" data-filter=".product" onclick="ga('send', 'event', 'filter', 'click', 'product')"><i class="ion-loop"></i> Product designer</a></li>
								<li><a href="" class="size-16" data-filter=".creative" onclick="ga('send', 'event', 'filter', 'click', 'exp')"><i class="ion-erlenmeyer-flask"></i> Creative technologist</a></li> -->
                            </ul>
                        </nav>
					</div>
				<!-- portfolio_filter -->
    <div class="h-20"></div>

				{%- if site.posts.size > 0 -%}
                    <div class="no-padding portfolio_container clearfix">

					{%- for post in site.posts -%}
							{%- if page.title == post.title  -%}

							{%- else -%}
								{%- include singlework.html -%}
							{%- endif -%}

					{%- endfor -%}


 <!-- single work -->

{%- if page.title == post.title  -%}
<div class="col-md-4 col-sm-6 biz">
	<div class="NDA"><h2 class="size-h3">More case studies on product design from recent 3 years are available upon request.</h2></div>
</div>
{%- endif -%}


		</div>
				{%- endif -%}

    <div class="h-50"></div>
