<header class="navbar-fixed-top" data-aos="fade-in">
      <nav>            
            <ul class="menu container">
                <li class="v-center"><a class="v-center" href="/" onclick="ga('send', 'header', 'button', 'click', 'logo')"><span id="logoicon"></span><span class="postheader">Lauren Wang</span></a></li>
                <li tabindex="-1" class="space"></li>

<!-- {%- if page.category -%}
                <li><a href="#moreproject" onclick="ga('send', 'event', 'header', 'click', 'more work')">More fun</a></li>

{%- else -%}
                <li><a href="#moreproject" onclick="ga('send', 'event', 'header', 'click', 'more work')">More work</a></li>

{%- endif -%} -->


                <!-- <li><a href="https://drive.google.com/file/d/1oadtjxri2DUUpuFncEC3s3FsIqCiTj9y/view" target="_blank" onclick="ga('send', 'event', 'header', 'click', 'resume header')">Resume</a></li> -->
                 <li><a href="..#projects_product" onclick="ga('send', 'event', 'header', 'click', 'work')">Work</a></li>
                <li><a href="..#projects_creative" onclick="ga('send', 'event', 'header', 'click', 'fun')">Fun</a></li>
                <li><a href="..#about" onclick="ga('send', 'event', 'header', 'click', 'about')">About</a></li>
        </ul>
    </nav>
</header>