<header class="navbar-fixed-top" data-aos="fade-in">
      <nav>            
            <ul class="menu container">
                <li class="v-center"><a id="logoicon" href="./#home" onclick="ga('send', 'event', 'button', 'click', 'logo')"></a></li>
                <li tabindex="-1" class="space"></li>
                <li><a href="#moreproject" onclick="ga('send', 'event', 'button', 'click', 'more work')">More Work</a></li>
                <li><a href="https://docs.google.com/document/d/1fBkUdBt-WOpNDFZVfXtWPGPSVBselhB3FnFAPVYNHGo" target="_blank" onclick="ga('send', 'event', 'button', 'click', 'resume header')">Resume</a></li>
        </ul>
    </nav>
</header>