<header class="navbar-fixed-top" data-aos="fade-in">
      <nav>            
            <ul class="menu container">
                <li class="v-center"><a class="v-center" href="/" onclick="ga('send', 'header', 'button', 'click', 'logo')"><span id="logoicon"></span><span class="postheader">Lauren Wang</span></a></li>
                <li tabindex="-1" class="space"></li>
                <li><a href="#moreproject" onclick="ga('send', 'event', 'header', 'click', 'more work')">More Work</a></li>
                <li><a href="https://drive.google.com/file/d/1oadtjxri2DUUpuFncEC3s3FsIqCiTj9y/view" target="_blank" onclick="ga('send', 'event', 'header', 'click', 'resume header')">Resume</a></li>
        </ul>
    </nav>
</header>