<div class="section" id="projects_product">
  <div class="container">
    <div class="col-md-12">
      <h2>Work<span class="blink">_</h2> 
    </div>

    <!-- main container -->
    <div class="main-container portfolio-inner clearfix">

     <!--  <p class="NDA col-md-8 col-md-offset-2" data-aos="fade-up">
        Product design case studies from recent 3 years are available upon request.
      </p> -->
      <!-- portfolio div -->
      <div class="portfolio-div">

        <div class="portfolio" data-aos="fade-up">
          {%- include portfolio_product.html -%}
        </div>
        <!-- portfolio -->
      </div>
      <!-- end portfolio div -->
    </div>
    <!-- end main container -->

  </div>
</div>


<div class="section" id="projects_creative">
  <div class="container">
    <div class="col-md-12">
      <h2>Design+code fun<span class="blink">_</h2> 
    </div>

    <!-- main container -->
    <div class="main-container portfolio-inner clearfix">
                      <div class="h-50"></div>

      <!-- portfolio div -->
      <div class="portfolio-div">

        <div class="portfolio">
          {%- include portfolio_creative.html -%}
        </div>
        <!-- portfolio -->
      </div>
      <!-- end portfolio div -->
    </div>
    <!-- end main container -->

  </div>
</div>

