<div class="section" id="projects">
  <div class="container">
    <div class="col-md-12">
      <h2>Work</h2> 
    </div>
    <!-- <div class="h-20"></div> -->

    <!-- main container -->
    <div class="main-container portfolio-inner clearfix">
      <p class="NDA col-md-8 col-md-offset-2" data-aos="fade-up">
        Most of following are snippets of recent works or weird independent projects. Product design works from recent 2 years are available upon request.
      </p>
      <!-- portfolio div -->
      <div class="portfolio-div">
        <div class="portfolio" data-aos="fade-up">
          {%- include portfolio.html -%}
        </div>
        <!-- portfolio -->
      </div>
      <!-- end portfolio div -->
    </div>
    <!-- end main container -->

  </div>
</div>