<!-- about -->
<div class="section" id="reviews">

	<div class="container">
	    <div class="col-md-12">
	    	<h2>What my colleagues say<span class="blink">_</h2>
	    								<div class="h-20"></div>

	    </div>
	</div>
	<div class="scrollwrap container full-width">
		    <section class="singlereview mySlides crossfade">
				<p><i class="ion-quote"></i>Lauren is a deep and creative thinker, with great ambition and technical expertise to bring to her creative and lovely design aesthetic. She is so talented about thinking in terms of systems. She has lead the pack at finding ways to efficiently partner with developers to optimize workflows for both design and engineering. She has innovated on the process of animation and hand off to engineering to a beyond impressive point.</p>
				<p>Lauren is also so generous with her time, and is open to sharing the knowledge she builds with others on the team. She was instrumental in documenting our user experience. Her user flows are legendary! I admire her talent, her willingness to learn and to try new things and her constant push for quality and better/more consistent design for our users.</p>
				<br>
				<p class="name">Amanda Tracy</p>
				<p class="title">Director of Product Management at Amplify</p>
			</section>

		    <section class="singlereview mySlides crossfade">
				<p><i class="ion-quote"></i>Lauren is a thoughtful and thorough designer, both inquisitive and self directed. She is interested in both applying research methods and open to exploration for the sake of learning something unexpected. She has a keen appetite for optimization in design workflow and applying design thinking directly in code. I would love to work with Lauren again in the future and believe she would enhance the design work and culture of any team lucky enough to have her.</p>
				<br>
				<p class="name">Laura Villa</p>
				<p class="title">Senior Director of Product Design at Amplify</p>
		    </section>

			<section class="singlereview mySlides crossfade">
				<p><i class="ion-quote"></i>Lauren is one of the most innovative creative technologists I've ever worked with. Her ability to process complexity and output an elegant solution is truly amazing. Lauren's hunger for knowledge and self-improvement is awe-inspiring. She's constantly seeking ways to push her skills further, to know more, to attend conferences.</p>
				<p>Lauren is a hard worker who clearly loves what she does. Her warm and friendly disposition, as well as her sense of humor, make Lauren a joyful team member and a valuable mentor. She is always gracious with her time whenever a colleague needs help with something. Lauren is a rare gem.</p>
				<br>
				<p class="name">Julia Sverchuk</p>
				<p class="title">Senior Creative Director at Amplify</p>
			</section>

		    <section class="singlereview mySlides crossfade">
				<p><i class="ion-quote"></i><b>Attention to detail:</b> Lauren's day to day work demonstrates great thoroughness and thoughtfulness of ideas.</p>
				<p><b>Context and perspective:</b> she regularly includes reference to current trends and ideas and standards, to help everyone better understand and evaluate her proposals. </p>
				<p><b>Flexibility:</b> she can think and work in the moment, with stakeholders throwing ideas around, and everything ends up captured in the work, and moving things forward.</p>
				<p><b>Clarity:</b> she presents her thoughts and process candidly, so we can all follow along.</p>
				<p><b>Fun:</b> she very obviously loves what she's doing, and has a knack for making technical things delightful, which really rubs off on the team in all kinds of great ways.</p>
				<br>
				<p class="name">Unknown colleague</p>
				<p class="title">From performance review at Amplify</p>
		    </section>

		      <section class="singlereview mySlides crossfade">
				<p><i class="ion-quote"></i>Lauren is a pleasure to work with. She fully understands the goals, problems, and requirements of projects she works on and creates thoughtful design solutions even when there are tough constraints. Lauren works well on both projects with tight deadlines and minimal scope as well as long-term conceptual explorations.</p>
				<br>
				<p><i class="ion-quote"></i>Lauren asks great (and hard) questions. She can be counted on to expose areas of ambiguity, unclear strategy, and less-obvious (but important) use cases.</p>
				<br>
				<p class="name">Unknown colleagues</p>
				<p class="title">From performance review at Amplify</p>
		    </section>
		</div>
		
	    								<div class="h-20"></div>


		<div class="container">

		<div class="col-md-10 col-md-offset-1 slideControls">
			<button class="prev" onclick="plusSlides(-1); ga('send', 'event', 'button', 'review_nav', 'prev')"><i class="ion-arrow-left-b"></i>Prev</button>
		<!--   <span class="dot" onclick="currentSlide(1)"></span> 
		  <span class="dot" onclick="currentSlide(2)"></span> 
		  <span class="dot" onclick="currentSlide(3)"></span> 
		  <span class="dot" onclick="currentSlide(4)"></span> 
		  <span class="dot" onclick="currentSlide(5)"></span>  -->
			<button class="next" onclick="plusSlides(1); ga('send', 'event', 'button', 'review_nav', 'next')">Next<i class="ion-arrow-right-b"></i></button>
		</div>
	</div>
	
</div>

<!-- ./about -->
