

 <!-- single work -->

{%- if post.client != "Passion project"  -%}
      <div class=" col-md-4 col-sm-6 {{ post.categorie1 }}  {{ post.categorie2 }} {{ post.categorie3 }} {{ post.categorie4 }} {{ post.categorie5 }}">
         <a href="{{ post.url | relative_url }}" class="portfolio_item">
{%- else -%}
      <div class="col-md-4 col-sm-6">
         <a href="{{ post.url | relative_url }}" class="portfolio_item passion"> 
{%- endif -%}
<img src="{{ post.thumb }}" alt="image" class="img-responsive"/>
               <div class="portfolio-border clearfix" style="background: {{ post.cardcolor }} ">

                <div class="item_info">

                {%- if post.client != "Passion project"  -%}
                    {%- assign date_format = site.minima.date_format | default: "%Y" -%}
                    <label>{{ post.client }} · {{ post.date | date: date_format }}</label>
                {%- endif -%}

                {%- if post.password -%}
                    <h3 class="size-h3">{{ post.title | escape }}  <i class="ion-locked subtaltext" style="font-size: .75em;"></i></h3>
               {%- else -%}
                    <h3 class="size-h3">{{ post.title | escape }}</h3>
                {%- endif -%}

                 {%- if post.client == "Passion project"  -%}
                    <p class="card-excerpt">{{ post.excerpt }}</p>
                {%- endif -%}

                </div>
                <!-- <h6>Read More <i class="ion-ios-arrow-right"></i></h6> -->
            </div>
    </a>
</div>