

 <!-- single work -->
<div class=" {{ post.cols }} {{ post.categories }}">
    <a href="{{ post.url | relative_url }}" class="portfolio_item"> <img src="{{ post.thumb }}" alt="image" class="img-responsive"/>
            <div class="portfolio-border clearfix">
                <div class="item_info">
                    {%- assign date_format = site.minima.date_format | default: "%Y" -%}

				{%- if post.client -%}
                	<label>{{ post.client }} · {{ post.date | date: date_format }}</label>
               {%- else -%}
                    <label>{{ post.date | date: date_format }}</label>
				{%- endif -%}

                	<h2 class="size-h3">{{ post.title | escape }}</h2>
                	<h3>{{ post.excerpt }}</h3>
                </div>
                <!-- <h6>Read More <i class="ion-ios-arrow-right"></i></h6> -->
            </div>
    </a>
</div>