---
layout: default
---
<!-- home -->    
<div class="section" data-stellar-background-ratio="0.5">
  <div id="cube" data-aos="fade-in"></div>

  <div class="container">
    <div class="disply-table">
      <div class="table-cell" data-aos="fade-up" data-aos-delay="0">
        <!-- <h4>👋</h4> -->
        <div class="h-50"></div>

        <div class="h-50"></div>
        <div class="designer">
          <h1 style="margin-bottom: 0;" >Lauren Wang</h1>
          <h3 class="subtaltext" style="margin-top: 0;">Product Designer and Creative Technologist based in NYC</h3>
                  <div class="h-20"></div>

<!--           <h3 class="description">I'm a <strong>Designer</strong> and a <strong>Technologist</strong> with expertise in Interaction design, UI design, Web Animation, and Code-Based Prototyping. </h3> -->

          <h3 class="description">Expert at crafting interactive experiences that delight people with my multi-disciplinary skills in <strong>design</strong>, <strong>code</strong>, <strong>motion</strong>, and <strong>art</strong>. </h3>

          <!-- <h3 class="description">Specialized in <strong>interaction</strong> and <strong>UI design</strong>, <strong>web animation</strong>, and <strong>code-based prototyping</strong>.</h3> -->
                  <div class="h-20"></div>
<p class="subtaltext">Contact:  <code>heyLaurenWang@gmail.com</code></p>
        </div>
        <div class="h-20"></div>
<ul class="social2">
        <li><a href="https://www.linkedin.com/in/{{ site.linkedin_username }}/" onclick="ga('send', 'event', 'social', 'click', 'linkedin')" target="_blank"><i class="ion-social-linkedin"></i></a></li>
        <li><a href="http://codepen.io/{{ site.codepen_username }}/" onclick="ga('send', 'event', 'social', 'click', 'codepen')" target="_blank"><i class="ion-social-codepen"></i></a></li>
        <li><a href="http://github.com/{{ site.github_username }}/" onclick="ga('send', 'event', 'social', 'click', 'codepen')" target="_blank"><i class="ion-social-github"></i></a></li>
        <li><a href="https://instagram.com/{{ site.instagram_username }}/" onclick="ga('send', 'event', 'social', 'click', 'instagram')" target="_blank"><i class="ion-social-instagram-outline"></i></a></li>
        <!-- <li><a onClick="javascript:window.open('mailto:{{ site.email }}', 'mail');event.preventDefault(); ga('send', 'event', 'social', 'click', 'email')" href="mailto:{{ site.email }}"><i class="ion-ios-email"></i></a></li> -->
    </ul>
            <div class="h-50"></div>

        <!-- <div class="CTA-event" data-aos-delay=".2">
          <a href="#projects" onclick="ga('send', 'event', 'button', 'click', 'see my work')"><p class="CTA-event-thumbnail">See My Work<i class="ion-chevron-down"></i></p></a>
        </div> -->
      </div>


    </div>
  </div>
</div>
<!-- ./home -->

{%- include projects.html -%}
{%- include reviews.html -%}

{%- include about.html -%}
