---
layout: postdefalt
---
<div class="clearfix"></div>
<div class="section modal-content" class="post">
  <div class="container">
    <div class="portfolio-padding">
      <div class="col-md-8 col-md-offset-2" data-aos="fade-up">
        {%- assign date_format = site.minima.date_format | default: "%Y" -%}
        <label>{{ page.client }}  ·  {{ page.date | date: date_format }}</label>
        <h2>{{ page.title | escape }}</h2>
        <code>{{ page.role1 }}</code> <code>{{ page.role2 }}</code> <code>{{ page.role3 }}</code> <code>{{ page.role4 }}</code>

        <div class="h-50"></div>
      </div>
    </div>
  </div>


    <div class="container">
      <div class="col-md-8 col-md-offset-2" data-aos="fade-up">
            {{ content }}
      </div> 
    </div>
</div>