---
layout: postdefalt
---
<div class="clearfix"></div>
<div class="section modal-content" class="post">
  <div class="container">
    <div class="portfolio-padding">
      <div class="col-md-8 col-md-offset-2" data-aos="fade-up">
        <h2>{{ page.title | escape }}</h2>
        <div class="h-20"></div>
        <p>{{ page.excerpt | escape }}</p>
        <div class="h-50"></div>
      </div>
    </div>
  </div>

<!--   <ul>
    {% for section in page.sections %}
    <li><a href="#section{{ page.section }}">{{ section | textilize }}</a></li>
    {% endfor %}
  </ul> -->
            {{ content }}
</div>